FLASK_DEBUG=true
DATABASE_INITIALIZE=true
DATABASE_SEED_DIRECTORY=./seeds
DATABASE_NAME=hackathon_db
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_MAX_CONNECTIONS=50
OTEL_EXPORTER_OTLP_ENDPOINT=http://tempo:4318
OTEL_SERVICE_NAME=pe-hackathon
PYTHONUNBUFFERED=1
REDIS_URL=redis://redis:6379/0
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin
GF_USERS_ALLOW_SIGN_UP=false
APP_PROXY_PORT=5001
